body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url(forgery1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.navbar {
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
}
.navbar a {
    float: left;
    display:inline-block ;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.container {
    padding: 20px;
}
.box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
}
input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    background-color: #04AA6D;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
button:hover {
    background-color: #039a5c;
}